.App {
  width: 70%;
  margin: 10px auto;
}

h1 {
  font-family: 'Great Vibes', cursive;
}

h2{
  font-family: 'Raleway', sans-serif;
}

.text-muted {
  text-align: center;
}

Button {
  float: right;
}